<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="timeline">
            <ul>
                <li>
                    <div class="content">
                        <h2></h2>
                        <h3>Niñera</h3> 
                        <p>Cuidados de niños part time</p>
                    </div>
                    <div class="time">
                        <h3> 2020 - Actualmente</h3> 
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>Grupo Gestion</h2>
                        <h3>Operaria</h3> 
                        <p>Taras generales de operaria.</p>
                    </div>
                    <div class="time">
                        <h3> 2017</h3> 
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>Vizno S.A</h2>
                        <h3>Camarera</h3>
                        <p>Servicio de camarera</p>
                    </div>
                    <div class="time">
                        <h3>2011-2014</h3>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h2>Legion de la Buena Voluntad</h2>
                        <h3>Telefonista</h3>
                        <p>Realizacion de llamadas en frio a posibles donadores.</p>
                    </div>
                    <div class="time">
                        <h3>2015</h3>
                    </div>
                </li>    
                <li>
                    <div class="content">
                        <h2>Instituto Educativo Argentino</h2>
                        <h3>Administrativa</h3>
                        <p>Atencion al cliente.</p>
                    </div>
                    <div class="time">    
                        <h3>2010</h3>
                    </div>       
                </li>
            </ul>
    </div>
</div>
