<div class="row">
    <h1>Educación </h1>
    <div class="timeline"> 
        <ul>
            <li>
                <div class="content">
                    <h2>Argentina Programa #YoProgramo</h2>
                    <h3>Full Stack Developer Jr.</h3>
                </div>
                <div class="time">
                    <h4>2021-2022</h4>
                </div>
            </li>
            <li>
                <div class="content">
                    <h2>Instituto Superior en Innovaciones Pedagogicas Siglo XXI</h2> 
                    <h3>Tecnicatura superior en administarcion de recursos humanos.</h3>
                </div>
                <div class="time">
                    <h4>2013-2016</h4>
                </div>
            </li>
        </ul>
    </div>
</div>