<div class="row">
    <h1>Mis Proyectos</h1>
    <div class="container">
        <div class="card">
            <img src="../../../assets/CapturaPorfolio.png" width="80" height="80" alt="">
            <h2>Portfolio Argentina Programa</h2>
            <p>Portfolio personal aplicados en el curso de desarrollo web fullstack para Argentina Programa </p> 
            <a href="https://github.com/JulietaOk/PortfolioWebFullStack">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="card">
            <img src="../../../assets/CapturaCalculadora.png" width="80" height="80" alt="">
            <h2>Calculadora</h2>
            <p>Calculadora creada con HTML, CSS y Javascript </p> 
            <a href="https://github.com/JulietaOk/Calculator">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="card">
            <img src="../../../assets/CapturaTicTacToe.png" width="80" height="80" alt="">
            <h2>TicTacToe</h2>
            <p>Juego realizado con HTML, CSS y Javascript </p> 
            <a href="https://github.com/JulietaOk/TicTacToe">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</div>