<div class="row">
    <div class="about">
        <div class="info-img">
            <img src="./../assets/809.jpg" class="img-fluid" alt="Julieta picture">
        </div>
        <div class="about-info">
            <h1>Sobre Mi</h1>
            <p id="nombre">Soy Julieta Lopez</p>
            <p> Desarrolladora y estudiante autodidacta en busca de
            mi primera oportunidad laboral.
            Mi objetivo profesional es crear páginas y aplicaciones
            que ofrezcan una innovación tecnologica. </p>
            <a href="/FrontEnd/src/assets/JulietaPaolaLopez_Cv.pdf">
            <button class="download-cv">Download CV</button>
            </a>
        </div>
    </div>
</div>    
